@import "@primer/css/core/index.scss";
@import "@primer/css/blankslate/index.scss";
@import "@primer/css/header/index.scss";
// @import '@primer/css/support/index.scss';
// @import '@primer/css/utilities/index.scss';

@include color-mode(dark) {
  color-scheme: dark;
}

#canvases {
  display: flex;
  flex-direction: column;
}

#canvases img {
  width: 100%;
  margin: 10px 0;
}

.page {
  margin: 10px;
  outline: 1px solid black;
}
