* {
  box-sizing: border-box;
}

:root {
  --yellow: #FFFDDF;
  --blue: #3765A8;
  --pink: #D14D95;
  --black: hsl(0, 0%, 20%);
  --food-size: 4rem;
  font-size: 16px;
  font-family: sans-serif;
}

@media (max-width: 600px) {
  :root {
    --food-size: 2rem;
  }
}

html {
  background-color: var(--pink);
  height: 100%;
}

body {
  position: relative;
  overflow: auto;
  background-color: var(--yellow);
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  padding: 1rem calc(var(--food-size) + 2rem);
  color: var(--black);
}

header {
  height: 4rem;
  display: flex;
  flex-direction: row;
}

footer {
  text-align: center;
}

#canvases {
  display: flex;
  flex-direction: column;
}

#canvases img {
  width: 100%;
  margin: 10px 0;
}

.drop {
  cursor: pointer;
  text-align: center;
  font-style: italic;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

@scroll-timeline foodTimeline {
  source: auto;
  /* orientation: vertical; */
  /* scroll-offsets: 0px, 500px; */
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-33%));
  }
}

.food {
  position: fixed;
  top: 0;
  height: 150vh;
  overflow: hidden;
  width: var(--food-size);
  font-size: var(--food-size);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 1rem;
  padding: 1rem 0;
  animation-name: scroll;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-duration: 3s;
  animation-timeline: foodTimeline;
}

@supports (animation-timeline: something) {
  .food {
    animation-play-state: running;
  }
}

.food.left {
  left: 0;
}

.food.right {
  right: 0;
}
