* {
  box-sizing: border-box;
}

:root {
  --yellow: #FFFDDF;
  --blue: #3765A8;
  --pink: #D14D95;
  --black: hsl(0, 0%, 20%);
  --food-size: 4rem;
  --header-size: 4rem;
  --maxw: 400px;
  font-size: 16px;
  font-family: sans-serif;
}

@media (max-width: 600px) {
  :root {
    --food-size: 2rem;
  }
}

html {
  background-color: var(--pink);
  height: 100%;
}

body {
  position: relative;
  overflow: auto;
  background-color: var(--yellow);
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  padding: 1rem calc(var(--food-size) + 2rem);
  padding-top: calc(var(--header-size) + 1rem);
  color: var(--black);
}

footer {
  text-align: center;
  padding: 1rem;
}

#canvases {
  display: flex;
  flex-direction: column;
}

#canvases img {
  width: 100%;
  margin: 10px 0;
}

.intro {
  max-width: var(--maxw);
  margin: 0 auto;
}

.drop {
  cursor: pointer;
  display: block;
}

.drop .cta {
  text-align: center;
  font-style: italic;
  margin-bottom: 4rem;
}

@scroll-timeline foodTimeline {
  source: auto;
  /* orientation: vertical; */
  /* scroll-offsets: 0px, 500px; */
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-33%));
  }
}

.food {
  position: fixed;
  top: 0;
  height: 150vh;
  overflow: hidden;
  width: var(--food-size);
  font-size: var(--food-size);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 1rem;
  padding: 1rem 0;
  animation-name: scroll;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-duration: 3s;
  animation-timeline: foodTimeline;
}

@supports (animation-timeline: something) {
  .food {
    animation-play-state: running;
  }
}

.food.left {
  left: 0;
}

.food.right {
  right: 0;
}

.header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(var(--header-size) + 1rem);
  justify-content: center;
  box-shadow: 0px 4px 10px -6px rgb(0 0 0 / 30%);
  z-index: 9;
  background: var(--yellow);
  padding: 0.5rem;
}

@keyframes spinning {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.spinning {
  animation-name: spinning;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.warning {
  display: block;
  position: relative;
  padding: 1rem;
  border: 3px solid hsl(42, 80%, 50%);
  border-radius: 100000px;
  text-align: center;
  max-width: var(--maxw);
  margin: 1rem auto;
}

.warning:before {
  content: '⚠️';
  display: block;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);

}

a {
  text-decoration: underline;
  color: inherit;
}

.select {
  cursor: pointer;
}
